.tree-table {
  position: relative;

  table {
    table-layout: fixed;
  }

  .table-indent {
    display: inline-block;
    width: 24px;
    height: 1px;
  }

  .data-table-empty-row {
    height: 150px;
  }

  .icon.open {
    transform: rotate(45deg)
  }

  .sub-row {

    .sub-table-container {
      padding: 0;
      border-top: 0;

      .sub-table-wrapper {
        display: none;
      }

      .sub-table {
        margin-bottom: 0;
      }
    }

  }
}
#__dataTableMessageArea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.pagination {
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.data-table-th {
  text-align: left;
  background: #F5F5F5;
}
.btn{
  display: inline;
}