.data-table {
  position: relative;

  .toolbar {
    float: right;
    vertical-align: middle;

    .btn {
      margin-right: 8px;
    }
  }

  .expand-toggle-icon.expand {
    transform: rotate(45deg);
  }
  .data-table-th {
    text-align: left;
    background: #F5F5F5;
  }
}
