.data-table {
  position: relative;

  .data-table-empty-row {
    height: 150px;
  }
}
#__dataTableMessageArea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.pagination {
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.data-table-th {
  text-align: left;
  background: #F5F5F5;
}
.toolbar-vertical-align {
  vertical-align: middle;
}
.btn{
  display: inline;
}