.data-table {
  position: relative;

  .toolbar {
    padding: 8px;
    padding-left: 0;

    .btn {
      margin-right: 8px;
    }
  }

  .expand-toggle-icon.expand {
    transform: rotate(45deg);
  }
}
